body {
    margin: 0;
    padding: 0;
    background-image: radial-gradient(circle at 50.57% 43.52%, #ffa13a 0, #ff8f44 12.5%, #ff7b4c 25%, #ff6751 37.5%, #f25353 50%, #da4053 62.5%, #c43154 75%, #b02554 87.5%, #9f1d56 100%);
    font-family: sans-serif;
    color: #fff;
}
.botonsalir {
    background: rgba(0, 0, 0, 0.4);
    width: 100px;
    text-align: center;
    border-left: 5px;
    border-right: 5px;
}

    .botonsalir:hover {
        background: rgba(0, 0, 0, 0.7);
    }

.navbar-brand {
    height: 60px;
}

.nav-item {
    top: 50%;
    height: 40px;
    text-align: center;
}


.mensajebox {
    transform: translate(30%,30%);
    width: 60%;
    height: 300px;
    padding: 15px 40px;
    box-sizing: border-box;
    font-size: 20px;
    background: rgba(0,0,0,0.5);
}

.lblReport {
    color: #bbe1fa;
    font-family: Bahnschrift Condensed;
    font-weight: bold;
    font-size: 18px;
}

h1 {
    padding: 0;
    margin: 0;
    text-align: center;
    color: #fff;
    font-family: Bahnschrift Condensed;
}

.txtReport {
    background: rgba(0,0,0,0.2);
}

.txtReport, .btnEnviar {
    width: 100%;
    margin-bottom: 15px;
}

.txtReport {
    resize: none;
    width: 100%;
    margin-bottom: 15px;
    border: none;
    border-bottom: 3px solid #fff;
    outline: none;
    height: 35px;
    color: #000000;
    font-size: 16px;
    background-color: transparent;
    font-family: Bahnschrift Condensed;
}

.btnEnviar {
    border: none;
    outline: none;
    height: 40px;
    font-size: 16px;
    color: #fff;
    background-color: #49b031;
    cursor: pointer;
    border-radius: 20px;
    transition: .3s ease-in-out;
    font-family: Bahnschrift Condensed;
}

    .btnEnviar:hover {
        background-color: #d0793f;
    }